* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    background-color: white;
    width: 97%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    background-color: #0097fe;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

header .logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

h1 {
    font-size: 18px;
}

.chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-box .message {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.chat-box .user {
    align-self: flex-end;
    background-color: #0097fe;
    color: white;
}

.chat-box .tina {
    align-self: flex-start;
    background-color: gray;
    color: #333;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    background-color: #0097fe;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #007bb5;
}

.message-time{
    display: block;
    margin-bottom: 5px;
  }
